.idea/
/node_modules/
/*/*/node_modules
build
.merlin
/packages/react-scripts/lib
.DS_Store
*.tgz
*.pem
my-app*
template/src/__tests__/__snapshots__/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/.changelog
