/* You can use CSS variables. */
:root {
    --margin: 20px;
    --padding: 20px;
}

.donut-main {
    position: fixed;
    top: var(--margin);
    left: var(--margin);
    background-color: red;
    padding: var(--padding);
    z-index: 10000000;
}