/*
You can use CSS variables.
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
*/
:root {
    --margin: 20px;
    --padding: 20px;
}

.Main {
    position: fixed;
    top: var(--margin);
    left: var(--margin);
    z-index: 10000000;
    padding: var(--padding);
    background-color: yellow;
    /*
    You do not have to supply vendor specific prefixes,
    they will be added automatically by autoprefixer.
    https://github.com/postcss/autoprefixer
    */
    box-shadow: 7px 7px 0px 0px #09003e;
}